<!Doctype html>
<html>
	<head>
		<title>todo:My Lists</title>
		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

  	</head>

  	<body style="background-color: #ECE">
  		<div class="container">
  			<div class="header">
  				<nav>
  					<ul class="nav nav-pills pull-right">
  						<li role="presentation" class="active"><a href="createdlist">Mytasks</a></li>
                    </ul>
                </nav>
	    		<a href="/"><img src="https://cdn8.staztic.com/app/a/912/912509/todo-task-list-note-reminder-617119-l-140x140.png" alt="Todo list App" class="img-rounded" width="75" height="75"></a>
	    	</div>

	    	<div class="jumbotron" style="text-align:left">
	    		<h3>List of tasks</h3>
	    		{% for row in rows %}
	    			<ul style = "list-style : None" >      
          				<li >{{row["task"]}}
                        <button onclick="Edittask( {{row["id"]}} )" type="submit">Edit</button>
                        <button onclick="Deletetask( {{row["id"]}} )" type="submit">Delete</button>
                        </li>
          			</ul>
          		{% endfor %}
                
      			<h5><a href = "createlist">Add another task</a></h5>
      		</div>
    	</div>
      <script src="static/jquery.js"></script>
      <script src="static/createlist.js"></script>
  	</body>
</html>


