<!Doctype html>
<html>
	<head>
		<title>todo:signup</title>
		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    	<link href="../static/forgotpassword.css" rel="stylesheet">
    </head>

    <body style="background-color: #ECE">
        <div class="container">
            <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation"><a href="createlist">Createtask</a></li>
                        <li role="presentation"><a href="createdlist">Mytasks</a></li>
	                    <li role="presentation" class="active"><a href="signin">Signin</a></li>
                    </ul>
	            </nav>
	            <a href="/"><img src="https://cdn8.staztic.com/app/a/912/912509/todo-task-list-note-reminder-617119-l-140x140.png" alt="Todo list App" class="img-rounded" width="75" height="75"></a>
	        </div>

	    	<div class="jumbotron">
                <h1>Todo List App</h1>
                <form class="form-forgotpassword">
                    <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="off" placeholder="Email address" required autofocus>
         
                    <input id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit" value="submit">
                </form>
            </div>

        </div>
    </body>
</html>