<!DOCTYPE html>
  <html>
    <head>
      <title>todo list</title>
      <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
      
    </head>
    <body style="background-color: #ECE">
        <div class=container>
            <div class=header>
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation"><a href="createlist">Createtask</a></li>
                        <li role="presentation"><a href="createdlist">Mytasks</a></li>
                        <li role="presentation"><a href="signin">Signin</a></li>
                    </ul>
                </nav>
                <a href="/"><img src="https://cdn8.staztic.com/app/a/912/912509/todo-task-list-note-reminder-617119-l-140x140.png" alt="Todo list App" class="img-rounded" width="75" height="75"></a>
            </div>
      
        <div class="jumbotron">
            <h1>Todo List App</h1>
            <p><a class="btn btn-lg btn-success" href="signup" role="button">Sign up today</a></p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Todo List</h4>
                <p>Helps you achieve your goals</p>
            </div>
        </div>

    </body>
 </html>